.container {
  height: 70px;
  margin-bottom: 2em;
}

.header {
  height: 70px;
  background: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar {
  color: #1d1c1a;
  font-size: 12px;
  letter-spacing: 2px;
}

.navBar:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0;
  background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
.navBar:hover {
  color: grey;
}
.navBar:hover:after {
  width: 100%;
  background: rgb(66, 66, 66);
}

.backToHome {
  margin: 3rem 0 0;
}

@media (min-width: 668px) {

}