.container {
  height: 70px;
  margin-bottom: 2em;
}

.header {
  height: 70px;
  background: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar {
  color: #1d1c1a;
  font-size: 12px;
  letter-spacing: 2px;
}

.navBar:after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0;
  background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
.navBar:hover {
  color: rgb(233, 114, 35);
}
.navBar:hover:after {
  width: 100%;
  background: rgb(42, 42, 42);
}

