.main {
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.listContainer {
   width: 90%;
   display: flex;
   text-align: center; 
   flex-direction: column;
   flex-wrap: wrap;
}
  
/*Card*/

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 12px;
    width: 100%;
  }

.headingTop {
  position: absolute;
  color: #fafafa;
  z-index: 10;
  font-size: 12px;
  left: 2.2em;
}
  
.card {
    display: flex;
    direction: row;
    justify-content: stretch;
    margin: 2em 2em 2em 2em;
    border: solid #cecece 1px;
    background: #F2F2F2;
    padding: 10px;
    box-shadow: 0 1rem 3rem -1.75rem;
  }
  
  .titleLink {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    color: #000000;
    text-decoration: none;
    outline: none;
    list-style-type: none;
  }
  
  .imageContainer {
    height: auto;
  }
  
  .imageCard{
    width: 100%;
    height: auto;
  }
  
  .undefined{
    width: auto;
    height: 300px;
    padding: 50px;
  }

  .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .listItem {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
  }
  
  .lightText {
    color: rgb(163, 163, 163);
  }

  .imgBar {
    z-index: 1;
    margin: 1em;
    border-radius: 50%;
    object-fit: cover;
    flex-grow: 1;
  }
  
  @media (min-width: 668px) {
   
    .card {
      padding: 2rem;
    }

    .cardContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      margin: 2em 2em 2em 2em;
      font-size: 12px;
      width: 100%;
    }
  
    .imageContainer {
      width: 50%;
    }

    .main {
      text-align: center;
    }
  }
  
/*Form*/

   .formContainer {
      width: 100%;
      text-align: center;
    }
  
    .commentsList {
      list-style: none;
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      margin-left: -40px;
    }
  
    .form {
      width: 40%;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 3rem;
    }
  
    .input[type='text'] {
      width: 100%;
      padding: 10px;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      color: #262626;
    }
  
    .button {
      margin-top: 1rem;
      width: 6rem;
      height: 2rem;
      color: #F2F2F2;
      background: #222222;
      border: 1px solid #0D0D0D;
      text-align: center;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 2px;
      cursor: pointer;
    }
  
    .button:hover {
      color: #000;
      background: rgb(251, 194, 239);
      border: 1px solid rgb(26, 25, 25);
      transition: all 0.2s ease-in-out;
    }
  
    .subtitle {
      font-family: "Roboto", sans-serif;
      font-size: 17px; 
      font-weight: 500;
      letter-spacing: 2px;
    }
  
    .text {
      font-size: 13px;
    }
  
  @media (min-width: 1023px) {
    .formContainer {
      width: 40%;
      margin-left: 30%;
    }
  }
  
/*Comment*/

  .commentContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px grey solid;
  }
  
  .moment{
    color: grey;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 1rem;
  }
  
  .comment{
    color: black;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
    text-transform: capitalize;
    padding: 1rem;
  }
  
  .deleteBtn{
    margin-top: 1rem;
    width: 4rem;
    height: 1.5rem;
    color: #F2F2F2;
    background: #0D0D0D;
    border-radius: 5px;
    border: 0.5px solid #0D0D0D;
    text-align: center;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
    float: right;
    text-transform: uppercase;
    font-size: 9px;
  }
    
  .deleteBtn:hover {
    color: #000;
    transition: all 0.3s ease-in-out;
  }


  